@use 'config';
@use 'cookies';

/* estilos de las cosas que aparezcan en TODAS las páginas de mi web, véase: nav, footer, y otros elementos como artículos que se usen casuísticamentre en todas las páginas. */

/* CLASES GLOBALES */
.boton{
    padding: 1.5rem 6rem 1.4rem;
    background-color: config.$color01bis;
    color: config.$color00;
    text-align: center;
    border-radius: 1rem;
    font-size: 1.2rem;
    font-family: config.$fuente02;
    letter-spacing: 2px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    -moz-transition: 0.5s;
    &:hover{
        background-color: config.$color00;
        color: config.$color01bis;
    }
}

/* NAVEGADOR */
#toggle {
    display: none;
}
#toggleLabel {    
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;    
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    -moz-transition: 0.5s;  
    span {
        width: 100%;
        height: 4px;
        border-radius: 3px;
        background-color: config.$color00;
        transition: all 250ms ease-out;
        -webkit-transition: all 250ms ease-out;
        -moz-transition: all 250ms ease-out;
        -o-transition: all 250ms ease-out;
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
        -moz-transform-origin: 0 0;
        -o-transform-origin: 0 0;
    }   
}
#toggle:checked ~ nav #toggleLabel span:nth-child(3) {
    transform: rotate(-45deg) translate(-1px, 0px);
    -webkit-transform: rotate(-45deg) translate(-1px, 0px);
    -moz-transform: rotate(-45deg) translate(-1px, 0px);
    -o-transform: rotate(-45deg) translate(-1px, 0px);
}
#toggle:checked ~ nav #toggleLabel span:nth-child(2) {
    transform: rotate(0deg) scale(0.2, 0.2);
    -webkit-transform: rotate(0deg) scale(0.2, 0.2);
    -moz-transform: rotate(0deg) scale(0.2, 0.2);
    -o-transform: rotate(0deg) scale(0.2, 0.2);
    opacity: 0;
}
#toggle:checked ~ nav #toggleLabel span:nth-child(1) {
    transform: rotate(45deg) translate(0px, -2px);
    -webkit-transform: rotate(45deg) translate(0px, -1px);
    -moz-transform: rotate(45deg) translate(0px, -2px);
    -o-transform: rotate(45deg) translate(0px, -2px);
}
#toggle:checked ~ nav .megamenu{
    height: 90vh;
    opacity: 1;
    pointer-events: initial;
    overflow: scroll;
    &::-webkit-scrollbar {
        display: none;
    }
    @media only screen and (min-width:config.$tablet){
        &{
            height: 85vh;
        }
    }  
    @media only screen and (min-width:config.$desktop){
        &{
            height: auto;            
            overflow: visible;
        }
    }
}
nav{
    height: 80px;
    padding: 0.5rem 2rem;
    background-color: config.$color01;
    position: fixed;
    top: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    >:nth-child(1){
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        img{
            height: 100%;
            max-height: 70px;
        }
    }
    a, p, span{
        color: config.$color00;
    }    
}
.megamenu{
    position: relative;
    width: 100%;
    height: 0;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    user-select: none;
    padding: 4rem 1.5rem;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    -moz-transition: 0.5s;
    background-color: config.$color01;
    position: absolute;
    top: 10vh;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2rem;
    @media only screen and (min-width:config.$tablet){
        &{
            top: 15vh;
        }
    }     
    @media only screen and (min-width:config.$desktop){
        &{
            top: 130px;
            width: 90%;
        }
    }
    .col{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        row-gap: 2rem;
        @media only screen and (min-width:config.$tablet){
            width: 45%    
        }
        @media only screen and (min-width:config.$desktop){
            width: 30%;
            height: 250px;
            border-right: 2px solid config.$color00; 
        }
        >p{
            font-size: 1.3rem;
            font-family: config.$fuente02;
            letter-spacing: 2px;
        }
        >ul{
            width: 80%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            row-gap: 1rem;
            a{
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                column-gap: 1.5rem;
                transition: 0.2s;
                -webkit-transition: 0.2s;
                -o-transition: 0.2s;
                -moz-transition: 0.2s;  
                &:hover{
                    filter: invert(45%) sepia(56%) saturate(683%) hue-rotate(302deg) brightness(92%) contrast(95%);
                    -webkit-filter: invert(45%) sepia(56%) saturate(683%) hue-rotate(302deg) brightness(92%) contrast(95%);
                } 
            }
            img{
                width: 20px;
                filter: invert
                (1);
                -webkit-filter: invert(1);                                       
            }
        }            
        .boton{
            padding: 0.7rem 1rem 0.5rem;
            font-size: 1rem;
            border-radius: 4px;
        }                                
    }
    >:nth-child(1){        
        >ul{
            >li {            
                >div{
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    column-gap: 1.5rem;
                    position: relative;
                    cursor: pointer;
                    color: config.$color00;              
                    &:hover .submenu{                                             
                        width: 400px;
                        padding: 0 1rem;
                        opacity: 1;                        
                        animation: aparecer ease-in;
                        animation-duration: .4s;
                        animation-iteration-count: 1;
                        @keyframes aparecer {
                            from{
                                opacity: 0;
                            }
                            to{
                                opacity: 1;
                            }
                        }
                    }
                    .submenu{
                        position: absolute;
                        z-index: 110;
                        top: -2rem;
                        left: 100%;
                        width: 0;
                        opacity: 0;
                        overflow: hidden;                        
                        ul{
                            padding: 2rem;
                            border-radius: 1rem;
                            backdrop-filter: blur(5px);
                            -webkit-backdrop-filter: blur(5px);;
                            background-color: config.$color01bis;
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-start;
                            align-items: flex-start;
                            row-gap: 1rem;
                        }              
                    }                    
                }                
            }            
        }        
    }
    >:nth-child(2){
        row-gap: 2.5rem;
        span{
            font-size: 1rem;
        }
        .rrss{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            column-gap: 2rem;
            img{
                width: 3rem;
                transition: 0.5s;
                -webkit-transition: 0.5s;
                -o-transition: 0.5s;
                -moz-transition: 0.5s;
                filter: invert(1);
                -webkit-filter: invert(1);
                &:hover{
                    filter: invert(45%) sepia(56%) saturate(683%) hue-rotate(302deg) brightness(92%) contrast(95%);
                    -webkit-filter: invert(45%) sepia(56%) saturate(683%) hue-rotate(302deg) brightness(92%) contrast(95%);
                }                    
            }
        }
    }
    >:nth-child(3){
        border-right: none;
        height: auto;
        form{                
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            row-gap: 1rem;
            input{
                width: 100%;
                border: none;
            }
            input[type=text], input[type=email]{
                padding: 0.3rem 0.5rem;
                font-size: 1rem;
                border-radius: 4px;
            }       
        }           
    }
    .idiomas{
        position: absolute;
        left: 2rem;
        bottom: 2rem;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        ul{
            display: flex;
            flex-direction: row;
            column-gap: 2rem;
            a:hover{
                filter: invert(45%) sepia(56%) saturate(683%) hue-rotate(302deg) brightness(92%) contrast(95%);
                -webkit-filter: invert(45%) sepia(56%) saturate(683%) hue-rotate(302deg) brightness(92%) contrast(95%);
            }
        }
    }        
}
footer{
    position: relative;
    padding-top: 15rem;
    padding-bottom: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 10rem;
    background: config.$color01;
    background: linear-gradient(0deg, config.$color01bis 0%, config.$color01 100%);
    .megamenu{
        height: 100%;
        opacity: 1;
        overflow: scroll;
        position: static;
        background-color: initial;
        padding: 0 1.5rem;
        @media only screen and (min-width:config.$desktop){
            &{
                overflow: visible;
            }
        }
        &::-webkit-scrollbar {
            display: none;
        }
    }
    >:nth-child(3){
        color: config.$color00;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        row-gap: 1rem;
    }
} 



